@CHARSET "UTF-8";

.lineDiv {
	width: 100%;
	height: 1px;
	background-color: black;
}

.wdjlBt {
	padding-left: 15px;
}

.wdjlZt {
	margin-top: 10px;
	width: 600px;
	margin-left: 15px;
}

.wdjlxz {
	color:blue;
	text-decoration:underline;
	cursor:pointer;
	font-weight:normal;
}