@CHARSET "UTF-8";

.lineDiv {
	width: 100%;
	height: 1px;
	background-color: black;
}

.fbgwBt {
	padding-left: 15px;
}

.fbgwZt {
	margin-top: 10px;
	width: 600px;
	margin-left: 15px;
}